<mat-drawer-container>
  <mat-drawer #drawer
              mode="side">
    <app-task-details *ngIf="drawerTask"
                      [task]="drawerTask"
                      [drawer]="drawer"
                      (taskToUpdate)="updateTask($event)"
                      (taskToDelete)="deleteTask($event)">
    </app-task-details>
  </mat-drawer>

  <ng-container *ngIf="!loading; else spinner">
    <app-tasks-board *ngIf="toDo && inProgress && done &&
                      (toDo.length || inProgress.length || done.length); else noData"
                     [(toDoTasks)]="toDo"
                     [(inProgressTasks)]="inProgress"
                     [(doneTasks)]="done"
                     (statusChange)="updateTaskStatus($event)">
    </app-tasks-board>
    <ng-template #noData>
      <div class="full-size-container">
        <h2>No tasks available.</h2>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #spinner>
    <div class="full-size-container">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-template>
</mat-drawer-container>
